@media (min-width:320px)  {
  .home-img {
    max-width: 100%;
  }
  .image {
    display: none;
  }
  .imgWrapper {
    opacity: 0.06;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 30%;
  }
  @keyframes blender {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .imageActive {
    float: left;
    width: cover;
    height: cover;
    object-fit: cover;
    box-sizing: border-box;
    opacity: 0;
    animation: blender 5s linear 50ms;
  }
}

@media (min-width:1025px) {
  .home-img {
    max-width: 100%;
  }
  .image {
    display: none;
  }
  .imgWrapper {
    opacity: 0.06;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
  }
  @keyframes blender {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .imageActive {
    float: left;
    width: cover;
    height: cover;
    object-fit: cover;
    box-sizing: border-box;
    opacity: 0;
    animation: blender 5s linear 50ms;
  }
}

@media (min-width:1281px) {
  .home-img {
    max-width: 100%;
  }
  .image {
    display: none;
  }
  .imgWrapper {
    opacity: 0.06;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
  }
  @keyframes blender {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .imageActive {
    float: left;
    width: cover;
    height: cover;
    object-fit: cover;
    box-sizing: border-box;
    opacity: 0;
    animation: blender 5s linear 50ms;
  }
}



@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }