@media (min-width: 320px)  {

  .header {
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    -webkit-transform: translate3d(0,0,0);
    font-size: 1.5em;
    width: 120%;
  }

  .headerbottom {
    margin-top: 20%;
  }

  .lang {
    font-size: 0.7em;
    margin-top: 5%;
    margin-left: 55%;
  }

  .language-select {
    font-size: 1em;
    background-color: transparent;
    color: white;
    border: 8px solid transparent;
    outline: 1px solid white;
  }

  .language-select option {
    background-color: black;
  }

  .links {
    display: none;
  }

  .telegram-link {
    display: none;
  }

  .donate-link {
    display: none;
  }

  .repository-link {
    display: none;
  }

  .github-link {
    display: none;
  }

  .logo {
    margin-top: 1%;
  }

  .logo a {
    font-size: 2.5em;
  }

  .quote {
    font-size: 0.8em;
    margin-left: 3%;
  }
}

@media (min-width:1025px) {
  .header {
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    -webkit-transform: translate3d(0,0,0);
    font-size: 1.5em;
    width: 100%;
  }

  .headerbottom {
    margin-top: 20%;
  }

  .lang {
    font-size: 0.9em;
    margin-top: 10%;
    margin-left: 70%;
  }

  .language-select {
    font-size: 1em;
    background-color: transparent;
    color: white;
    border: 8px solid transparent;
    outline: 1px solid white;
  }

  .language-select option {
    background-color: black;
  }

  .links {
    font-size: 1em;
    margin-right: 10%;
    margin-top: 40px;
    float: right;
    display: flex;
  }

  .telegram-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    margin-left: 2%;
    white-space: nowrap;
    color: white;
    border: 20px solid transparent;
    outline: 1px solid white;
    max-height: 30px;
  }

  .telegram-link:hover {
    border: 20px solid rgba(0, 0, 0, 0.2);
  }

  .donate-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    margin-left: 2%;
    white-space: nowrap;
    color: white;
    border: 20px solid transparent;
    outline: 1px solid white;
    max-height: 30px;
  }

  .donate-link:hover {
    border: 20px solid rgba(0, 0, 0, 0.2);
  }

  .repository-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    margin-left: 2%;
    white-space: nowrap;
    color: white;
    border: 20px solid transparent;
    outline: 1px solid white;
    max-height: 30px;
  }

  .repository-link:hover {
    border: 20px solid rgba(0, 0, 0, 0.2);
  }

  .github-link {
    display: inline-block;
    margin-left: 2%;
  }

  .github-link img {
    white-space: nowrap;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    max-width: 100px;
  }

  .github-link a {
    max-width: 50px;
  }

  .logo {
    margin-right: 70%;
  }

  .logo a {
    font-size: 2.5em;
  }

  .quote {
    font-size: 1em;
    margin-right: 25%;
  }
}

@media (min-width:1281px) {
  .header {
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    -webkit-transform: translate3d(0,0,0);
    font-size: 1.5em;
    width: 100%;
  }

  .headerbottom {
    margin-top: 20%;
  }

  .lang {
    font-size: 0.9em;
    margin-top: 10%;
    margin-left: 70%;
  }

  .language-select {
    font-size: 1em;
    background-color: transparent;
    color: white;
    border: 8px solid transparent;
    outline: 1px solid white;
  }

  .language-select option {
    background-color: black;
  }

  .links {
    font-size: 1em;
    margin-right: 10%;
    margin-top: 40px;
    float: right;
    display: flex;
  }

  .telegram-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    margin-left: 2%;
    white-space: nowrap;
    color: white;
    border: 20px solid transparent;
    outline: 1px solid white;
    max-height: 30px;
  }

  .telegram-link:hover {
    border: 20px solid rgba(0, 0, 0, 0.2);
  }

  .donate-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    margin-left: 2%;
    white-space: nowrap;
    color: white;
    border: 20px solid transparent;
    outline: 1px solid white;
    max-height: 30px;
  }

  .donate-link:hover {
    border: 20px solid rgba(0, 0, 0, 0.2);
  }

  .repository-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    margin-left: 2%;
    white-space: nowrap;
    color: white;
    border: 20px solid transparent;
    outline: 1px solid white;
    max-height: 30px;
  }

  .repository-link:hover {
    border: 20px solid rgba(0, 0, 0, 0.2);
  }

  .github-link {
    display: inline-block;
    margin-left: 2%;
  }

  .github-link img {
    white-space: nowrap;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    max-width: 100px;
  }

  .github-link a {
    max-width: 50px;
  }

  .logo {
    margin-top: 20%;
    margin-right: 70%;
  }

  .logo a {
    font-size: 2.5em;
  }

  .quote {
    font-size: 1em;
    margin-right: 25%
  }
}



@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }