{% extends "base.html" %}
{% block style %}
  <link href="{{ url_for('static', path='/css/kanvertar.css') }}" rel="stylesheet">
{% endblock %}
{% block title %}
  <title>{{ page_name }} - ProjectKurhan</title>
{% endblock %}
{% block content %}
  <div class="page">
  <br>
  <form method="get" id="form" action='/kanvertar'>
      <div class="extra-settings">
        <input type="checkbox" id="g" name="g" value="True">
        <label for="g">Выбухны Ґ [H -> G]</label><br>
        <input type="checkbox" id="iotation" name="iotation" value="True">
        <label for="iotation">Ётаваны І [I -> Ji/J]</label><br>
        <input type="checkbox" id="assimilation" name="assimilation" value="True">
        <label for="assimilation">Асыміляцыя [SCZ -> ŚĆŹ]</label>
      </div>
      <select name="alphabet" class="alphabet" id="alphabet">
        <option value="0">Mużyckaja Prauda (K. Kalinoŭski)</option>
        <option value="1">Łacinka1929 (B. Taraškievič)</option>
        <option value="2">Łacinka1962 (Ja. Stankievič)</option>
        <option value="3">Lacinka2000 (AAN)</option>
        <option value="4">Transliteracyja 2023</option>
        <option value="5">Арабіца // اَرَبِࢯَ<br></option>
      </select>
      <script>
        document.getElementById('alphabet').onchange = function() {
          localStorage.setItem('selectedtem', document.getElementById('alphabet').value);
        };

        if (localStorage.getItem('selectedtem')) {
          document.getElementById('alphabet').options[localStorage.getItem('selectedtem')].selected = true;
        }
      </script>
    <br>
    <textarea type="text" id="text" name="text" class="textfield" placeholder="Тэкст"></textarea><br>
    <div class="result">
      <a id="result">{{ text }}</a>
    </div>
    <div class="convertation">
      <div class="center">
        <button class="btn" type="submit" value="Submit">
          <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
            <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
            <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
          </svg>
          <span>КАНВЭРТАВАЦЬ</span>
        </button>
      </div>
    </div>
  </form>
  <div class="copy">
    <div class="center">
      <button class="btn" onclick="copy_to_clipboard('result')">
        <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
          <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
          <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
        </svg>
        <span id="copy">СКАПІЯВАЦЬ</span>
      </button>
    </div>
  </div>
  </div>
{% endblock %} 