label {
  font-size: 15px;
}

@media (min-width: 0px) and (max-width: 319px) {
  .content {
    text-align: center;
    font-size: 1.5em;
    max-width: 400px !important;
    width: 400px;
    margin-left: 30%;
  }

  .textfield {
    margin-top: 5%;
    color: white;
    border: none;
    border-radius: 0px;
    outline: none;
    background-color: #2b2a33;
    text-align: center;
    resize: none;
    width: 400px;
    height: 200px;
  }

  .textfield:hover {
    color: white;
    border: none;
    border-radius: 0px;
    outline: none;
    background-color: #2b2a33;
    text-align: center;
    resize: none;
    width: 400px;
    height: 200px;
  }

  .textfield:focus {
    color: white;
    border: none;
    border-radius: 0px;
    outline: none;
    background-color: #2b2a33;
    text-align: center;
    resize: none;
    width: 400px;
    height: 200px;
  }

  .result {
    overflow-y: auto;
    margin-top: 3%;
    background-color: #2b2a33;
    color: white;
    outline: none;
    text-align: center;
    max-width: 400px;
    min-height: 200px;
    max-height: 200px;
  }

  .result a {
    font-size: 16px;
  }

  .settings {
    font-size: 0.2em;
    color: white;
    background-color: transparent;
    border: 20px solid transparent;
    outline: 1px solid white;
    width: 400px;
    text-align: right;
  }

  select {
    border-radius: 0px;
    color: white;
    width: 400px;
    background-color: rgb(13, 13, 15);
    border: 5px rgb(13, 13, 15) solid !important;
    outline: 1px white solid;
  }

  select:hover {
    color: white;
    width: 400px;
    background-color: rgb(13, 13, 15);
    border: 5px rgb(13, 13, 15) solid !important;
    outline: 1px white solid;
  }

  select:focus {
    outline: none;
    background-color: rgb(13, 13, 15);
    border: 5px rgb(13, 13, 15) solid !important;
    color: white;
    outline: 1px white solid;
  }

  option {
    border-radius: 0px;
  }

  #logo a {
    max-width: 400px !important;
    width: 400px !important;
  }

  h1 {
    font-size: 3em;
  }

  .convert {
    margin-top: 8%;
    font-size: 1.2em;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  .convert:hover {
    font-size: 1.2em;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  .convert:focus {
    font-size: 1.2em;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  .copy {
    font-size: 1.2em;
    margin-top: 3%;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  .copy:hover {
    font-size: 1.2em;
    margin-top: 3%;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  .copy:focus {
    font-size: 1.2em;
    margin-top: 3%;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  p {
    font-size: 1.2em;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .content {
    text-align: center;
    font-size: 1.5em;
    max-width: 400px !important;
    width: 400px;
    margin-left: 30%;
  }

  .textfield {
    margin-top: 5%;
    color: white;
    border: none;
    border-radius: 0px;
    outline: none;
    background-color: #2b2a33;
    text-align: center;
    resize: none;
    width: 400px;
    height: 200px;
  }

  .textfield:hover {
    color: white;
    border: none;
    border-radius: 0px;
    outline: none;
    background-color: #2b2a33;
    text-align: center;
    resize: none;
    width: 400px;
    height: 200px;
  }

  .textfield:focus {
    color: white;
    border: none;
    border-radius: 0px;
    outline: none;
    background-color: #2b2a33;
    text-align: center;
    resize: none;
    width: 400px;
    height: 200px;
  }

  .result {
    overflow-y: auto;
    margin-top: 3%;
    background-color: #2b2a33;
    color: white;
    outline: none;
    text-align: center;
    max-width: 400px;
    min-height: 200px;
    max-height: 200px;
  }

  .result a {
    font-size: 16px;
  }

  .settings {
    font-size: 0.2em;
    color: white;
    background-color: transparent;
    border: 20px solid transparent;
    outline: 1px solid white;
    width: 400px;
    text-align: right;
  }

  select {
    border-radius: 0px;
    color: white;
    width: 400px;
    background-color: rgb(13, 13, 15);
    border: 5px rgb(13, 13, 15) solid !important;
    outline: 1px white solid;
  }

  select:hover {
    color: white;
    width: 400px;
    background-color: rgb(13, 13, 15);
    border: 5px rgb(13, 13, 15) solid !important;
    outline: 1px white solid;
  }

  select:focus {
    outline: none;
    background-color: rgb(13, 13, 15);
    border: 5px rgb(13, 13, 15) solid !important;
    color: white;
    outline: 1px white solid;
  }

  option {
    border-radius: 0px;
  }

  #logo a {
    max-width: 400px !important;
    width: 400px !important;
  }

  h1 {
    font-size: 3em;
  }

  .convert {
    margin-top: 8%;
    font-size: 1.2em;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  .convert:hover {
    font-size: 1.2em;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  .convert:focus {
    font-size: 1.2em;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  .copy {
    font-size: 1.2em;
    margin-top: 3%;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  .copy:hover {
    font-size: 1.2em;
    margin-top: 3%;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  .copy:focus {
    font-size: 1.2em;
    margin-top: 3%;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  p {
    font-size: 1.2em;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .content {
    text-align: center;
    font-size: 1.5em;
    max-width: 400px !important;
    width: 400px;
    margin-left: 30%;
  }

  .textfield {
    margin-top: 5%;
    color: white;
    border: none;
    border-radius: 0px;
    outline: none;
    background-color: #2b2a33;
    text-align: center;
    resize: none;
    width: 400px;
    height: 200px;
  }

  .textfield:hover {
    color: white;
    border: none;
    border-radius: 0px;
    outline: none;
    background-color: #2b2a33;
    text-align: center;
    resize: none;
    width: 400px;
    height: 200px;
  }

  .textfield:focus {
    color: white;
    border: none;
    border-radius: 0px;
    outline: none;
    background-color: #2b2a33;
    text-align: center;
    resize: none;
    width: 400px;
    height: 200px;
  }

  .result {
    overflow-y: auto;
    margin-top: 3%;
    background-color: #2b2a33;
    color: white;
    outline: none;
    text-align: center;
    max-width: 400px;
    min-height: 200px;
    max-height: 200px;
  }

  .result a {
    font-size: 16px;
  }

  .settings {
    font-size: 0.2em;
    color: white;
    background-color: transparent;
    border: 20px solid transparent;
    outline: 1px solid white;
    width: 400px;
    text-align: right;
  }

  select {
    border-radius: 0px;
    color: white;
    width: 400px;
    background-color: rgb(13, 13, 15);
    border: 5px rgb(13, 13, 15) solid !important;
    outline: 1px white solid;
  }

  select:hover {
    color: white;
    width: 400px;
    background-color: rgb(13, 13, 15);
    border: 5px rgb(13, 13, 15) solid !important;
    outline: 1px white solid;
  }

  select:focus {
    outline: none;
    background-color: rgb(13, 13, 15);
    border: 5px rgb(13, 13, 15) solid !important;
    color: white;
    outline: 1px white solid;
  }

  option {
    border-radius: 0px;
  }

  #logo a {
    max-width: 400px !important;
    width: 400px !important;
  }

  h1 {
    font-size: 3em;
  }

  .convert {
    margin-top: 8%;
    font-size: 1.2em;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  .convert:hover {
    font-size: 1.2em;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  .convert:focus {
    font-size: 1.2em;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  .copy {
    font-size: 1.2em;
    margin-top: 3%;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  .copy:hover {
    font-size: 1.2em;
    margin-top: 3%;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  .copy:focus {
    font-size: 1.2em;
    margin-top: 3%;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  p {
    font-size: 1.2em;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .content {
    text-align: center;
    font-size: 1.5em;
    max-width: 400px !important;
    width: 400px;
    margin-left: 30%;
  }

  .textfield {
    margin-top: 5%;
    color: white;
    border: none;
    border-radius: 0px;
    outline: none;
    background-color: #2b2a33;
    text-align: center;
    resize: none;
    width: 400px;
    height: 200px;
  }

  .textfield:hover {
    color: white;
    border: none;
    border-radius: 0px;
    outline: none;
    background-color: #2b2a33;
    text-align: center;
    resize: none;
    width: 400px;
    height: 200px;
  }

  .textfield:focus {
    color: white;
    border: none;
    border-radius: 0px;
    outline: none;
    background-color: #2b2a33;
    text-align: center;
    resize: none;
    width: 400px;
    height: 200px;
  }

  .result {
    overflow-y: auto;
    margin-top: 3%;
    background-color: #2b2a33;
    color: white;
    outline: none;
    text-align: center;
    max-width: 400px;
    min-height: 200px;
    max-height: 200px;
  }

  .result a {
    font-size: 16px;
  }

  .settings {
    font-size: 0.2em;
    color: white;
    background-color: transparent;
    border: 20px solid transparent;
    outline: 1px solid white;
    width: 400px;
    text-align: right;
  }

  select {
    border-radius: 0px;
    color: white;
    width: 400px;
    background-color: rgb(13, 13, 15);
    border: 5px rgb(13, 13, 15) solid !important;
    outline: 1px white solid;
  }

  select:hover {
    color: white;
    width: 400px;
    background-color: rgb(13, 13, 15);
    border: 5px rgb(13, 13, 15) solid !important;
    outline: 1px white solid;
  }

  select:focus {
    outline: none;
    background-color: rgb(13, 13, 15);
    border: 5px rgb(13, 13, 15) solid !important;
    color: white;
    outline: 1px white solid;
  }

  option {
    border-radius: 0px;
  }

  #logo a {
    max-width: 400px !important;
    width: 400px !important;
  }

  h1 {
    font-size: 3em;
  }

  .convert {
    margin-top: 8%;
    font-size: 1.2em;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  .convert:hover {
    font-size: 1.2em;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  .convert:focus {
    font-size: 1.2em;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  .copy {
    font-size: 1.2em;
    margin-top: 3%;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  .copy:hover {
    font-size: 1.2em;
    margin-top: 3%;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  .copy:focus {
    font-size: 1.2em;
    margin-top: 3%;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  p {
    font-size: 1.2em;
  }
}

@media (min-width: 1024px) and (max-width: 11999px) {
  .content {
    text-align: center;
    font-size: 1.5em;
    max-width: 400px !important;
    width: 400px;
    margin-left: 30%;
  }

  .textfield {
    margin-top: 5%;
    color: white;
    border: none;
    border-radius: 0px;
    outline: none;
    background-color: #2b2a33;
    text-align: center;
    resize: none;
    width: 400px;
    height: 200px;
  }

  .textfield:hover {
    color: white;
    border: none;
    border-radius: 0px;
    outline: none;
    background-color: #2b2a33;
    text-align: center;
    resize: none;
    width: 400px;
    height: 200px;
  }

  .textfield:focus {
    color: white;
    border: none;
    border-radius: 0px;
    outline: none;
    background-color: #2b2a33;
    text-align: center;
    resize: none;
    width: 400px;
    height: 200px;
  }

  .result {
    overflow-y: auto;
    margin-top: 3%;
    background-color: #2b2a33;
    color: white;
    outline: none;
    text-align: center;
    max-width: 400px;
    min-height: 200px;
    max-height: 200px;
  }

  .result a {
    font-size: 16px;
  }

  .settings {
    font-size: 0.2em;
    color: white;
    background-color: transparent;
    border: 20px solid transparent;
    outline: 1px solid white;
    width: 400px;
    text-align: right;
  }

  select {
    border-radius: 0px;
    color: white;
    width: 400px;
    background-color: rgb(13, 13, 15);
    border: 5px rgb(13, 13, 15) solid !important;
    outline: 1px white solid;
  }

  select:hover {
    color: white;
    width: 400px;
    background-color: rgb(13, 13, 15);
    border: 5px rgb(13, 13, 15) solid !important;
    outline: 1px white solid;
  }

  select:focus {
    outline: none;
    background-color: rgb(13, 13, 15);
    border: 5px rgb(13, 13, 15) solid !important;
    color: white;
    outline: 1px white solid;
  }

  option {
    border-radius: 0px;
  }

  #logo a {
    max-width: 400px !important;
    width: 400px !important;
  }

  h1 {
    font-size: 3em;
  }

  .convert {
    margin-top: 8%;
    font-size: 1.2em;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  .convert:hover {
    font-size: 1.2em;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  .convert:focus {
    font-size: 1.2em;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  .copy {
    font-size: 1.2em;
    margin-top: 3%;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  .copy:hover {
    font-size: 1.2em;
    margin-top: 3%;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  .copy:focus {
    font-size: 1.2em;
    margin-top: 3%;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  p {
    font-size: 1.2em;
  }
}

@media (min-width: 1200px) {
  .content {
    text-align: center;
    font-size: 1.5em;
    max-width: 400px !important;
    width: 400px;
    margin-left: 30%;
  }

  .textfield {
    margin-top: 5%;
    color: white;
    border: none;
    border-radius: 0px;
    outline: none;
    background-color: #2b2a33;
    text-align: center;
    resize: none;
    width: 400px;
    height: 200px;
  }

  .textfield:hover {
    color: white;
    border: none;
    border-radius: 0px;
    outline: none;
    background-color: #2b2a33;
    text-align: center;
    resize: none;
    width: 400px;
    height: 200px;
  }

  .textfield:focus {
    color: white;
    border: none;
    border-radius: 0px;
    outline: none;
    background-color: #2b2a33;
    text-align: center;
    resize: none;
    width: 400px;
    height: 200px;
  }

  .result {
    overflow-y: auto;
    margin-top: 3%;
    background-color: #2b2a33;
    color: white;
    outline: none;
    text-align: center;
    max-width: 400px;
    min-height: 200px;
    max-height: 200px;
  }

  .result a {
    font-size: 16px;
  }

  .settings {
    font-size: 0.2em;
    color: white;
    background-color: transparent;
    border: 20px solid transparent;
    outline: 1px solid white;
    width: 400px;
    text-align: right;
  }

  select {
    border-radius: 0px;
    color: white;
    width: 400px;
    background-color: rgb(13, 13, 15);
    border: 5px rgb(13, 13, 15) solid !important;
    outline: 1px white solid;
  }

  select:hover {
    color: white;
    width: 400px;
    background-color: rgb(13, 13, 15);
    border: 5px rgb(13, 13, 15) solid !important;
    outline: 1px white solid;
  }

  select:focus {
    outline: none;
    background-color: rgb(13, 13, 15);
    border: 5px rgb(13, 13, 15) solid !important;
    color: white;
    outline: 1px white solid;
  }

  option {
    border-radius: 0px;
  }

  #logo a {
    max-width: 400px !important;
    width: 400px !important;
  }

  h1 {
    font-size: 3em;
  }

  .convert {
    margin-top: 8%;
    font-size: 1.2em;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  .convert:hover {
    font-size: 1.2em;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  .convert:focus {
    font-size: 1.2em;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  .copy {
    font-size: 1.2em;
    margin-top: 3%;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  .copy:hover {
    font-size: 1.2em;
    margin-top: 3%;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  .copy:focus {
    font-size: 1.2em;
    margin-top: 3%;
    background-color: transparent;
    border: 2em solid transparent;
    outline: 1px solid white;
    color: white;
    width: 400px;
  }

  p {
    font-size: 1.2em;
  }
}
